In [2]:
# Python Type Conversion
# Assignment Questions

#1.  Convert an integer to a floating-point number.

integer_value = 5
float_value = float(integer_value)
print(float_value) # Output: 5.0

5.0

In [3]:
# 2. Convert a float to an integer.
float_value = 7.8
int_value = int(float_value)
print(int_value)  # Output: 7

7

In [7]:
# 3. Convert an integer to a string.
integer_value = 42
string_value = str(integer_value)
print(string_value) # Output:  "42"
print(type(string_value))  # Output: <class 'str'>

42
<class 'str'>

In [8]:
# 4. Convert a list to a tuple.
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple) #.# Output:(1, 2, 3, 4)

(1, 2, 3, 4)

In [10]:
# 5. Convert a tuple to a list.
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list) # Output:[1, 2, 3]

[1, 2, 3]

In [12]:
# 6. Convert a decimal number to binary.
decimal_number = 10
binary_representation = bin(decimal_number)
print(binary_representation)  # Output:0b1010

0b1010

In [13]:
# 7. Convert a non-zero number to boolean.
number = 5
boolean_value = bool(number)
print(boolean_value)

True

In [14]:
number = 0
boolean_value = bool(number)
print(boolean_value)

False